body{
	background: #09070e;
}
/*.content{
	width: 1140px;
	margin: 40px auto 46px;
	background: #f5f5f5;
	overflow: hidden;
}
.content>h2{
	width: 108px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 15.38px;
	font-weight: normal;
	color: #fff;
	margin: 30px 0 0 28px;
	background: #cb00da;
}
.content>div.context{
	width: 1020px;
	margin: 0 auto ;
	padding: 30px 0 30px 0;
	background-color: #fff;
	margin-bottom: 85px;
}*/
.context1{
	width: 1020px;
	height: 280px;
	margin: 0 auto 30px;
}
.context2,.context3{
	width: 1020px;
	margin: 0 auto 30px;
	height: 235px;
}
.context2L p{
	width: 662px;
	font-size: 12px;
	color: #3b3b3b;
	text-indent: 2em;
	line-height: 16px;
	margin-bottom: 8px;
}
