/*body{
	background: #09070e url(../image/industry-bg1.png) 200px -20px no-repeat;
}
.contenti{
	width: 1140px;
	margin: 0 auto;
}
.header{
	height: 58px;
	border-bottom: 2px solid #96949d;
	overflow: hidden;
}
.header h2{
	font-size: 14px;
	color: #fff;
	text-indent: 3px;
	font-weight: normal;
	margin-top: 22px;
}*/
.wit,.life,.workshop{
	height: 376px;
	margin-top: 24px;
	padding-top: 42px;
	background: #f5f5f5;
}
.witR{
	width: 469px;
}
.div1{
	width: 24px;
	height: 4px;
	background: #ef3a05;
	margin: 12px 0 20px 29px;
}
.h2{
	font-size: 19.23px;
	color: #3b3b3b;
	margin-left: 28px;
}
p{
	width: 434px;
	font-size: 12px;
	color: #3c3c3c;
	line-height: 20px;
	margin: 0 30px 0 28px;
}
.p2,.p4{
	margin-top: 5px;
	margin-bottom: 5px;
}
/*.bot{
	font-size: 12px;
	color: #3c3c3c;
	height: 24px;
	line-height: 24px;
	text-align: right;
	margin: 38px 0 53px 0;
}
.bot>span,.bot>b,.bot>i,.bot>input{
	height: 24px;
	text-align: center;
	font-size: 12px;
	display: inline-block;
}
.bot>span{
	cursor: pointer;
	width: 23px;
	color: #3c3c3c;
	margin-left: 4px;
	background: #ebebeb;
}
.bot>b{
	cursor: pointer;
	width: 54px;
	color: #3c3c3c;
	font-weight: normal;
	margin-left: 4px;
	background: #ebebeb;
}
.bot>i{
	font-style: normal;
	margin: 0 3px 0;
	color: #fff;
}
.bot>input{
	width: 38px;
	margin: 0 3px 0;
	background: #ebebeb;
}
.bot>.active{
	color: #fff;
	background-color: #7b2783;
}
.footer>iframe{
	height: 60px;
}*/