body{
	background: #09070e;
}
.context>div.context1{
	height: 80px;
	padding-top: 20px;
	border-bottom: 1px dashed #d3d3d3;
}
.context2{
	height: 80px;
	padding-top: 20px;
	border-bottom: 0;
}
dt{
	border-radius: 26px;
	margin-right: 10px;
	overflow: hidden;
}
dd{
	width: 720px;
	font-size: 12px;
	color: #3c3c3c;
}
dd>span{
	color: #999999;
}
dd>p{
	line-height: 20px;
}
ul{
	margin-top: 37px;
	margin-bottom: 20px;
}
ul>li,ul>strong{
	font-size: 12px;
	color: #3c3c3c;
	/*width: */
}
ul>strong{
	display: inline-block;
	margin: 0 5px;
}
ul>li>i.url{
	width: 12px;
	height: 10px;
	background-position: 0 -20px;
	vertical-align: middle;
}
.bot>i{
	color: #3c3c3c;
}
