.header{
	margin-bottom: 23px;
}
.contxt{
	width: 1156px;

}
dl{
	width: 531px;
	height: 85px;
	padding: 15px;
	margin-bottom: 16px;
	margin-right: 16px;
	background: #fff;
}
dt{
	margin-right: 10px;
}
dd{
	width: 382px;
	color: #3b3b3b;
}
h3{
	font-size: 14px;
	margin-bottom: 5px;
}
p{	
	font-size: 12px;
	line-height: 16px;
}
dd>div{
	font-size: 12px;
	text-align: right;
	/*margin-top: 4px;*/
}
